<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label data-bind="attr: {'for': getCode()}" class="label">
            <!-- ko foreach: getLogos() -->
            <img data-bind="attr:{src: src, title: title, alt: title}" style="height:18px; margin-right:8px;" />
            <!-- /ko -->

            <span data-bind="text: getTitle()"></span>
        </label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <fieldset data-bind="attr: {class: 'fieldset payment items', id: 'payment_form_' + getCode()}">
            <div class="field required">
                <label data-bind="attr: {for: getCode() + 'issuer_id'}" class="label">
                    <span><!-- ko i18n: 'Select your bank'--><!-- /ko --></span>
                </label>
                <div class="control">
                    <select class="checkbox required" data-bind="attr: {
                          'name': 'payment[issuer_id]',
                          id: getCode() + '_issuer_id'
                    }, options: idealBanks(), optionsText: 'label', optionsValue: 'value'">
                    </select>
                </div>
            </div>
        </fieldset>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {'title': $t('Place Order')},
                        enable: (getCode() == isChecked()),
                        css: {disabled: !isPlaceOrderActionAllowed()}
                        "
                        disabled>
                    <span data-bind="i18n: 'ingenico.button.label1'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
